    <form [formGroup]="resetPasswordGroup">
        <div class="form-wraper">
            <div class="form-container card">

                <div class="form-header">
                    <h3 class="form-title">Password Reset</h3>
                </div>

                <div class="main-container" style="width: 100%">
                    <div class="reset-div1">
                        <div class="form-body">

                            <div>
                                <mat-form-field class="justifier" id="leftInput" style="width: 100%">
                                    <input matInput placeholder="Nové Heslo" text="password" class="form-input" formControlName="newPassword" required>
                                    <button id="eye" mat-icon-button matSuffix type="button" >
                                        <mat-icon class="eye_icon"></mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field class="justifier" id="leftInput" style="width: 100%">
                                    <input matInput placeholder="Nové Heslo Znova" text="newPasswordCheck" formControlName="newPasswordCheck" required>
                                    <button id="eye" mat-icon-button matSuffix type="button">
                                        <mat-icon class="eye_icon"></mat-icon>
                                    </button>
                                </mat-form-field>
                            </div><br>

                            <div class="alert" *ngIf="passwordsMatch() == false" style="color: red;">
                                Hesla sa nezhodujú!
                            </div>

                        </div>
                    </div>

                </div>

                <div class="form-footer">
                    <button mat-raised-button class="btn custom-btn" type="submit" (click)="submitNewPassword()" routerLink="/login">Zmeniť heslo</button>
                </div>
            </div>
        </div>
    </form>

