<div class="container-fluid">
    <div class="row">
        <div style="background: #303030;" class="main_div col-md-3">
           <div>
            <mat-card class="matcard mt-3">
                <form [formGroup]="toDoForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Task Name</mat-label> 
                        <input formControlName="item" matInput placeholder="Add Task">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> --> 
                        <mat-hint>add task name</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Task Deadline</mat-label>
                        <input type="date" formControlName="deadline" matInput placeholder="Add Deadline">
                        <mat-hint>add task deadline</mat-hint> 
                    </mat-form-field>

                    

                    <button *ngIf="!isEditEnabled" (click)="addTask()" mat-raised-button class="add_button" [disabled]="toDoForm.invalid">Add Task</button> <!--(click)="dontMakeItemIfEmpty()"-->
                    <!-- <button *ngIf="isEditEnabled" (click)="updateTask()" mat-raised-button class="add_button" [disabled]="toDoForm.invalid">Update Task</button> -->
                    <button style="color: transparent; border: none; background-color: transparent;" (click)="test()">TEST</button>
                </form>
            </mat-card>
           </div> 
        </div>
        <div class="col-md-9 mt-3">
            <div cdkDropListGroup>
                <div class="row">
                    <div class="col-md-4">
                        <!-- toDo -->
                        <div class="example-container">
                            <h2 class="head_title">To do <span *ngIf="toDo.length > 0"> - {{tasks.length}}</span></h2>

                            <div
                              cdkDropList
                              [cdkDropListData]="toDo"
                              class="example-list"
                              (cdkDropListDropped)="onDrop($event, 'todo')">
                                <div class="example-box" *ngFor="let item of toDo; let i = index" cdkDrag [cdkDragData]="item">{{item.text}} <br> {{item.deadline}}
                                    <div class="box">
                                        <button mat-icon-button color="primary" (click)="openEditModal(editTaskModal)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-icon-button color="warn" (click)="deleteTask(item.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>

                                    <ng-template #editTaskModal let-modal>

                                        <div class="modal-header">
                                            <h4 class="modal-title" id="modal-basic-title">Edit Task</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                        
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <input type="hidden" [(ngModel)]="item.id" name="id" id="listingId" class="form-control">
                                                </div>
                        
                                                <div class="form-group">
                                                    <label for="description">Description</label>
                                                    <textarea class="form-control" id="description" style="height: 15rem;" [(ngModel)]="item.text" name="description"></textarea>
                                                </div>
                        
                                                <div class="form-group">
                                                    <label for="price">Date</label>
                                                    <input type="date" class="form-control" id="deadline" [(ngModel)]="item.deadline" name="deadline">
                                                </div>
                        
                                            </form>
                                        </div>
                    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" id="edit_task_cancel" (click)="modal.dismiss('cancel')">Cancel</button>
                                            <button type="button" class="btn btn-primary" (click)="editTask(item)">Edit</button>
                                        </div>

                                    </ng-template>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- inProgress -->
                        <div class="example-container">
                            <h2 class="head_title">In Progress <span *ngIf="inprogress.length > 0"> - {{inprogress.length}}</span></h2>
                        
                            <div
                              cdkDropList
                              [cdkDropListData]="inprogress"
                              class="example-list"
                              (cdkDropListDropped)="onDrop($event, 'inprogress')">
                              <div class="example-box" *ngFor="let item of inprogress; let i = index" cdkDrag [cdkDragData]="item">{{item.text}} <br> {{item.deadline}}
                                <button mat-icon-button color="warn" (click)="deleteTask(item.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="example-container">
                            <h2 class="head_title">Done <span *ngIf="done.length > 0"> - {{done.length}}</span></h2>
                    
                            <div
                              cdkDropList
                              [cdkDropListData]="done"
                              class="example-list"
                              (cdkDropListDropped)="onDrop($event, 'done')">
                              <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag [cdkDragData]="item">{{item.text}} <br> {{item.deadline}} 
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteTask(item.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary">
                                        <mat-icon class="check_icon">check_circle</mat-icon>
                                    </button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>