<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h2>ZaLacno.sk</h2>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink=""><i class="fa fa-angle-double-right"></i>Domov</a></li>
                    <li><a routerLink=""><i class="fa fa-angle-double-right"></i>O nás</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h2>Kategórie</h2>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/carListings"><i class="fa fa-angle-double-right"></i>Auto</a></li>
                    <li><a routerLink="/motorcycleListings"><i class="fa fa-angle-double-right"></i>Motorky</a></li>
                    <li><a routerLink="/clothesListings"><i class="fa fa-angle-double-right"></i>Oblečenie a obuv</a></li>
                    <li><a routerLink="/realEstateListings"><i class="fa fa-angle-double-right"></i>Reality</a></li>
                    <li><a routerLink="/appliancesListings"><i class="fa fa-angle-double-right"></i>Elektro</a></li>
                    <li><a routerLink="/pcListings"><i class="fa fa-angle-double-right"></i>PC</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h2>Inzeráty</h2>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/addListing"><i class="fa fa-angle-double-right"></i>Pridať inzerát</a></li>
                    <li><a routerLink="/myListings"><i class="fa fa-angle-double-right"></i>Moje inzeráty</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a routerLink=""><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a routerLink=""><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a routerLink=""><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a routerLink=""><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a routerLink="" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a routerLink="">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                <p class="h6">© All right Reversed.<a class="text-green ml-2" routerLink="" target="_blank">Sunlimetech</a></p>
            </div>
            <hr>
        </div>	
    </div>
</section>