<form (ngSubmit)="changePassword()">
    <label for="currentPassword">Current Password:</label>
    <input class="bg-light form-control" type="password" name="currentPassword" [(ngModel)]="currentPassword" required>
  
    <label for="newPassword">New Password:</label>
    <input class="bg-light form-control" type="password" name="newPassword" [(ngModel)]="newPassword" required>
  
    <label for="confirmNewPassword">Confirm New Password:</label>
    <input class="bg-light form-control" type="password" name="confirmNewPassword" [(ngModel)]="confirmNewPassword" required>
  
    <button type="submit">Change Password</button>
  </form>