<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/58577bf45a.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <table class="timetable" border="5" cellspacing="0" align="center">
      <!--<caption>Timetable</caption>-->
      <tr>
        <td align="center" height="50" width="100">
          <br />
          <b>Day/Period</b><br />
        </td>
        <td align="center" height="50" width="100">
          <b>I<br />9:30-10:20</b>
        </td>
        <td align="center" height="50" width="100">
          <b>II<br />10:20-11:10</b>
        </td>
        <td align="center" height="50" width="100">
          <b>III<br />11:10-12:00</b>
        </td>
        <td class="none_border" align="center" height="50" width="100">
          <b>12:00-12:40</b>
        </td>
        <td align="center" height="50" width="100">
          <b>IV<br />12:40-1:30</b>
        </td>
        <td align="center" height="50" width="100">
          <b>V<br />1:30-2:20</b>
        </td>
        <td align="center" height="50" width="100">
          <b>VI<br />2:20-3:10</b>
        </td>
        <td align="center" height="50" width="100">
          <b>VII<br />3:10-4:00</b>
        </td>
        <td align="center" height="50" width="100">
          <b>VIII<br />4:00-4:50</b>
        </td>
      </tr>

      <tr>
        <td align="center" height="50">
          <b>Monday</b>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="monday[0]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ monday[0] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="monday[1]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ monday[1] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="monday[2]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ monday[2] }}</p>
        </td>
        <td rowspan="6" align="center" height="50">
          <h2>L<br />U<br />N<br />C<br />H</h2>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="monday[3]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ monday[3] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="monday[4]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ monday[4] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="monday[5]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ monday[5] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="monday[6]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ monday[6] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="monday[7]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ monday[7] }}</p>
        </td>
      </tr>
      <tr>
        <td align="center" height="50">
          <b>Tuesday</b>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="tuesday[0]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ tuesday[0] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="tuesday[1]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ tuesday[1] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="tuesday[2]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ tuesday[2] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="tuesday[3]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ tuesday[3] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="tuesday[4]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ tuesday[4] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="tuesday[5]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ tuesday[5] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="tuesday[6]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ tuesday[6] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="tuesday[7]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ tuesday[7] }}</p>
        </td>
      </tr>
      <tr>
        <td align="center" height="50">
          <b>Wednesday</b>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="wednesday[0]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ wednesday[0] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="wednesday[1]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ wednesday[1] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="wednesday[2]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ wednesday[2] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="wednesday[3]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ wednesday[3] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="wednesday[4]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ wednesday[4] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="wednesday[5]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ wednesday[5] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="wednesday[6]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ wednesday[6] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="wednesday[7]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ wednesday[7] }}</p>
        </td>
      </tr>
      <tr>
        <td align="center" height="50">
          <b>Thursday</b>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="thursday[0]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ thursday[0] }}</p>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="thursday[1]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ thursday[1] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="thursday[2]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ thursday[2] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="thursday[3]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ thursday[3] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="thursday[4]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ thursday[4] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="thursday[5]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ thursday[5] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="thursday[6]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ thursday[6] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="thursday[7]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ thursday[7] }}</p>
        </td>
      </tr>
      <tr>
        <td align="center" height="50">
          <b>Friday</b>
        </td>
        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="friday[0]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ friday[0] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="friday[1]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ friday[1] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="friday[2]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ friday[2] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="friday[3]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ friday[3] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="friday[4]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ friday[4] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="friday[5]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ friday[5] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="friday[6]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ friday[6] }}</p>
        </td>

        <td
          align="center"
          height="50"
          (dblclick)="inputVisible = !inputVisible"
        >
          <input
            *ngIf="inputVisible"
            [(ngModel)]="friday[7]"
            (keyup.enter)="inputVisible = false"
          />
          <p *ngIf="!inputVisible">{{ friday[7] }}</p>
        </td>
      </tr>
    </table>
    



    <button  (click)="saveArraysToCookies()" class="btn">
      <i class="fa fa-folder"></i>
    </button>
    <style>
      button {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 30px;
        border-radius: 5000px;
        padding: 20px;
        color: white;
        background-color: #f27d92;
      }
    </style>
  </body>
</html>
