<div class="wrapper">
    <div class="main">
        <h1 class="main_heading">Work space FakeTrello</h1>
    </div>
    <div class="second">
        <img class="main_img" src="https://o.remove.bg/downloads/42ea4eb6-68c3-4e24-8b3e-1dc785bc51d6/image-removebg-preview.png">
        <p class="info_text">Boards are where work gets done in FakeTrello. On board, you can move cards between lists to keep projects, tasks, and more on track.</p>
        <button class="create_button" routerLink="/todo">Create your first board!</button>
    </div>
</div>
/
<!-- the button will open a form to which we will implement information about the title of the board and 
     the description of the board and also the background style of the board, for now it just works like routing -->