<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fake Trello</title>

    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
        crossorigin="anonymous"
        >
  </head>
  <body>
    <!-- Navbar section -->

    <!-- TOTO SI TU LEN UKLADAM LEBO TO POUZIJEM U SEBA NA SOCKE OK DIK :) -->

    <!-- <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="assets/img/brand/logo.svg" alt="brand">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link me-5" href="#">Pricing</a>
              <a class="nav-link disabled">Disabled</a>
            </div>
            <a href="#" class="btn btn-outline-secondary shadow-sm d -sm d-block">Try For Free</a>
          </div>
        </div>
    </nav> -->

    <!-- Hero Section -->

    <section class="hero">
        <div class="container">
            <div class="row">
                <!-- text -->
                <div class="col-md-6">
                    <div class="text">
                        Fake Trello helps people and teams move work forward.
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus vitae explicabo, maiores corporis vero accusantium ducimus! Vel velit adipisci officia quae optio? Quasi, harum ut.
                    </p>
                    <div class="buttons">
                        <a routerLink="/register" class="btn btn-primary">
                            Crate your new account now!
                        </a>
                        <!-- <a href="#" class="btn btn-outline-secondary ms-3">
                            Live Preview
                        </a> -->
                    </div>
                </div>
                <!-- image -->
                <div class="col-md-6">
                    <img src="assets/img/hero-img.png" alt="hero-img" class="w-100">
                </div>
            </div>
        </div>
    </section>

    <!-- Setup Section -->

    <section class="setup">
        <div class="container">
            <div class="text-header text-center">
                <h3>What is Fake Trello for?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur odit doloremque voluptatem nesciunt nihil quis? Adipisci pariatur nemo quisquam deleniti.</p>
            </div>
            <div class="row">

            </div>
            <div class="items text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="assets/img/icons/icons-1.png" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Improve Your Study Time</h5>
                            <p>By using FakeTrello you get access to various functions that can help your with your studying. Make FakeTrello your school best friend!</p>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="assets/img/icons/icons-2.png" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Create New Tasks</h5>
                            <p>Need help with organizing your time? Create little tasks that will help you to be more productive and less procrastinate!</p>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="assets/img/icons/icons-3.png" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Connect With People</h5>
                            <p>Working in a team? No problem! Invite your friends and coworkers so you can be more organized than ever!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Information Section -->

    <section class="information">
        <div class="container">
            <div class="row info-1">
                <!-- text -->
                <div class="col-md-6">
                    <div class="text-informatino">
                        <h5>Get more customers for your business</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus id, maxime modi minima nam quaerat laboriosam sed aperiam, eaque ratione doloribus explicabo ipsam dolore nostrum.</p>
                    </div>
                </div>
                <!-- image -->
                <div class="col-md-6">
                    <img src="assets/img/image-1.png" alt="img-1" class="w-100">
                </div>
            </div>

            <div class="row info-2">
                <!-- image -->
                <div class="col-md-6">
                    <img src="assets/img/image-2.png" alt="img-1" class="w-100">
                </div>
                <!-- text -->
                <div class="col-md-6">
                    <div class="text-informatino">
                        <h5>Low budget high quality</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus id, maxime modi minima nam quaerat laboriosam sed aperiam, eaque ratione doloribus explicabo ipsam dolore nostrum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
        crossorigin="anonymous"></script>
  </body>
</html>