<div class="wrapper bg-white mt-sm-5 background" style="height: auto" *ngIf="profileData">
    <h2 class="pb-4 border-bottom">Account settings</h2>
    <div class="d-flex align-items-start py-3 border-bottom">
        <div class="pl-sm-4 pl-2" id="img-section">
            <b>Profile Photo</b>
            <div class="img-wrapper">
                <img *ngIf="profileData.profilePicture; else defaultPic" [src]="'data:image/jpg;base64,' + profileData.profilePicture" style="max-height: 150px; max-width: auto; float: left;">
                    <ng-template #defaultPic>
                        <img src="../../../assets/user.png" style="max-height: 150px; max-width: auto; float: left;">
                    </ng-template>
                <div class="img-upload-wrapper" style="float: left">
                    <label class="form-label" for="customFile">Default file input example</label>
                    <input type="file" class="form-control" id="customFile" style="margin:0px 0px 0px 15px" [(ngModel)]="imageTest" accept="image/*" (change)="onFileChange($event)"/>
                    <button class="btn btn-primary" style="width: 100px; margin: 20px 20px 10px 15px;"(click)="updateProfilePicture()">Upload</button>
                    <p style="color: purple" *ngIf="message">{{message}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-2">
        <form [formGroup]="profileUpdateGroup" (ngSubmit)="sendUserInfo()">
            <div class="row py-2">

                <div class="col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="text" class="bg-light form-control" formControlName="firstName" required>
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="bg-light form-control" formControlName="lastName" required>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="nickName">NickName</label>
                    <input type="text" class="bg-light form-control" formControlName="nickname" required>
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="phone">Phone Number</label>
                    <input type="number" class="bg-light form-control" formControlName="phoneNumber" required>
                </div>
            </div>
            <div class="py-3 pb-4 border-bottom">
                <button class="btn btn-primary mr-3" type="submit" [disabled]="!profileUpdateGroup.valid">Save Changes</button>
                <button class="btn border button">Cancel</button>
            </div>
            <div class="d-sm-flex align-items-center pt-3" id="deactivate">
                <div>
                    <b>Deactivate your account</b>
                    <p>Details about your company account and password</p>
                </div>
                <div class="ml-auto">
                    <button class="btn danger" (click)="openDeleteModal(deleteUserModal)">Deactivate</button>
                </div>
            </div>
        </form>

        <ng-template #deleteUserModal let-modal>

            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">User Deletion</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                Are you sure you want to delete this profile? This action can not be revesed!.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" id="delete_user_cancel" (click)="modal.dismiss('cancel')">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
            </div>

        </ng-template>

        <app-change-password></app-change-password>

    </div>
</div>