<div class="wrapper bg-white mt-sm-5">
    <h2 class="pb-4 border-bottom">Account settings</h2>
    <div class="d-flex align-items-start py-3 border-bottom">
        <!-- <img class="img" *ngFor='let preview of previews' [src]="preview" class="preview"> -->
        <div class="pl-sm-4 pl-2" id="img-section">
            <b>Profile Photo</b>
            <p>Accepted file type .png. Less than 1MB</p>
            <h4 class="headline_text">Fotografie</h4>
            <!-- <app-file-upload></app-file-upload> -->
            <div class="text-center">
                <input class="form-control" type="file" 
                        (change)="onChange($event)">
              
                <button (click)="onUpload()" 
                    class="btn btn-success">
                    Upload
                </button>
            </div>
              
            <!-- Shareable short link of  uploaded file -->
            <div class="container text-center jumbotron"
                *ngIf="shortLink">
                <h2> Visit Here</h2>
                <a href="{{shortLink}}">{{shortLink}}</a>
            </div>
              
            <!--Flag variable is used here-->
            <div class="container" *ngIf="loading">
                <h3>Loading ...</h3>
            </div>
        </div>
    </div>
    <div class="py-2" *ngIf="profileData">
        <form [formGroup]="profileUpdateGroup" (ngSubmit)="sendUserInfo()">
            <div class="row py-2">
                <!-- <h2>{{aa}}</h2> -->
                <div class="col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="text" class="bg-light form-control" formControlName="firstName" required>
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="bg-light form-control" formControlName="lastName" required>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="nickName">NickName</label>
                    <input type="tel" class="bg-light form-control" formControlName="nickName" required>
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="phone">Phone Number</label>
                    <input type="number" class="bg-light form-control" formControlName="phoneNumber" required>
                </div>
            </div>
            <div class="py-3 pb-4 border-bottom">
                <button class="btn btn-primary mr-3" type="submit" [disabled]="!profileUpdateGroup.valid">Save Changes</button>
                <button class="btn border button">Cancel</button>
            </div>
            <div class="d-sm-flex align-items-center pt-3" id="deactivate">
                <div>
                    <b>Deactivate your account</b>
                    <p>Details about your company account and password</p>
                </div>
                <div class="ml-auto">
                    <button class="btn danger" (click)="deleteUser()">Deactivate</button>
                </div>
            </div>
        </form>
    </div>
</div>