.mat_toolbar{
    background-color: #022449;
    color: white;
    height: calc(10vh - 25px);
}

.mat_sidenav_container{
    height: calc(100vh - 65px);
}

.mat-toolbar-row, .mat-toolbar-single-row{
    padding: 0;
    padding-left: 10px;
}

.content{
    margin: auto;
}

.avatar{
    margin-top: 16px;
    margin-bottom: 16px;
}

.name{
    font-size: larger;
}

.main_toolbar_buttons{
    margin-right: 3.5rem;
}

.options_button{
    background-color: #022449;
    color: white;
    border-style: none;
}

.options_button:hover{
    color: #F27D92;
    /* color: #e99a4f; */
}

.options_heading:hover{
    background-size: 100% 100%;
    background-position-x: left;
}

.mat_options_icon{
    float: right;
    margin-top: 0.25rem;
}

.wrapper{
    display: flex;
    justify-content: flex-start;
}

@media only screen and (max-width: 700px) {
    .login_button{
        display: none;
    }

    .wrapper{
        display: none;
    }

    .main_toolbar_buttons{
        display: none;
    }

    .reg_button{
        display: none;
    }
}

.features_heading{
    
}

.mat_sidenav{
    min-width: 300px;
    border-right: none;
    background-color: #022449;
    color: white;
    padding: 16px;
    text-align: center;
}

.menu_button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin-top: 4px;
    color: #F27D92;
    background-color: white;
    font-weight: normal;
}

.menu_button:hover{
    background-color: #F27D92;
    color: white;
}

mat-icon{
    margin-right: 16px;    
}

.sidebar_open_close_button{
    background-color: #022449;;
    color: white;
}

.main_heading{
    color: white;
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        white 90%,
        white 100%
    );

    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;

    transition: background-size 300ms;
    cursor: pointer;
}

.main_heading:hover{
    background-size: 100% 100%;
    background-position-x: left;
}

.divider{
    background-color: #F27D92;
    margin-top: 8px;
    margin-bottom: 8px;
}

.mat_icon_dropdown{
    color: #F27D92;
}


.log_button{
    padding: calc(10vh - 25px);
    padding-top: auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-left: auto;
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.reg_button{
    padding: calc(10vh - 25px);
    padding-top: auto;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    background-color: #F27D92;
    color: white;
}

.log_out_button{
    background-color: #F27D92;
    padding: calc(10vh - 25px);
    padding-top: auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-left: auto;
    color: white;
    text-decoration: none;
}

/*
#022998 tmava
#F27D92 ruzova
#55BDCA silno modra
#96FFFF slabo modra
#C8EFF9 siva/seda
*/