<header>
    <title>{{title}}</title>
</header>


<router-outlet></router-outlet>
<mat-toolbar class="mat_toolbar">

        <div class="burger_wrapper" *ngIf="isLoggedIn() == true">  
             <button class="sidebar_open_close_button" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon *ngIf="!sidenav.opened">
                        menu
                    </mat-icon>
                    <mat-icon *ngIf="sidenav.opened">
                        close
                    </mat-icon>
            </button>
        </div>

        <h1 
            class="main_heading"
            routerLink="">
            FakeTrello.hu
        </h1>       


    <div class="main_toolbar_buttons" style="position:absolute; margin-left: 200px; margin-top: .5rem;">
        <a  class="options_button" mat-icon-button [matMenuTriggerFor]="aboutMenu" aria-label="Example icon-button with a menu">

            <div class="wrapper">
                <h3 class="options_heading">About</h3>
                <mat-icon class="mat_options_icon">keyboard_arrow_down</mat-icon>
            </div>
  
        </a>              
        <mat-menu #aboutMenu="matMenu">
            
            <button 
                mat-menu-item
                routerLink="addListing">
                    <mat-icon class="mat_icon_dropdown">code</mat-icon>
                        <span routerLink="login">Recources</span>
            </button>
            <button 
                mat-menu-item
                routerLink="myListings">
                    <mat-icon class="mat_icon_dropdown">backup</mat-icon>
                        <span routerLink="register">GitHub Repo</span>
            </button>

            <button 
                mat-menu-item
                routerLink="profile">
                    <mat-icon class="mat_icon_dropdown">people</mat-icon>
                        <span>Our Team</span>
            </button>
        </mat-menu>
    </div>

    <div class="main_toolbar_buttons" style="position:absolute; margin-left: 300px; margin-top: .5rem;">
        <a  class="options_button" mat-icon-button [matMenuTriggerFor]="featuresMenu" aria-label="Example icon-button with a menu">

            <div class="wrapper">
                <h3 class="features_heading">Features</h3>
                <mat-icon class="mat_options_icon">keyboard_arrow_down</mat-icon>
            </div>
    
        </a>              
        <mat-menu #featuresMenu="matMenu">
            
            <button 
                mat-menu-item
                routerLink="pomodoro">
                    <mat-icon class="mat_icon_dropdown">access_time</mat-icon>
                        <span routerLink="pomodoro">Pomodoro</span>
            </button>

            <button 
                mat-menu-item
                routerLink="myListings">
                    <mat-icon class="mat_icon_dropdown">list</mat-icon>
                        <span routerLink="register">Todo Lists</span>
            </button>


            <button 
                mat-menu-item
                routerLink="profile">
                    <mat-icon class="mat_icon_dropdown">school</mat-icon>
                        <span>School Helper</span>
            </button>

            <button 
            mat-menu-item
            routerLink="profile">
                <mat-icon class="mat_icon_dropdown">center_focus_strong</mat-icon>
                    <span>Better Focus</span>
            </button>
        </mat-menu>
    </div>
    
        <a *ngIf="isLoggedIn() == false" routerLink="login" class="log_button">Log in</a>
        <a *ngIf="isLoggedIn() == false" routerLink="register" class="reg_button">Register</a>
        <a *ngIf="isLoggedIn() == true" routerLink="basicRoute" class="log_out_button" (click)="onCLickLogOut()">Log Out</a> 

</mat-toolbar>

<mat-sidenav-container 
    class="mat_sidenav_container">

    <mat-sidenav 
        class="mat_sidenav"
        #sidenav = 'matSidenav'>

        <img class="avatar" src="../assets/user.png" width="125px">
        <h4 class="name">{{ firstName }} {{ lastName }}</h4>

        <mat-divider class="divider"></mat-divider>

        <button 
            mat-button class="menu_button"
            routerLink = "basicRoute">

            <mat-icon>toc</mat-icon>
            <span>Main Page</span>
        </button>

        <mat-divider class="divider"></mat-divider>
        <h3 class="workspace_title">Workspace</h3>
        <mat-divider class="divider"></mat-divider>

        <button 
            mat-button class="menu_button"
            routerLink="boards">

            <mat-icon>developer_board</mat-icon>
            <span>Boards</span>
        </button>

        <button 
            mat-button class="menu_button"
            routerLink="members">

            <mat-icon>people</mat-icon>
            <span>Members</span>
        </button>

        <button 
            mat-button class="menu_button"
            routerLink="highlights">

            <mat-icon>favorite_border</mat-icon>
            <span>Highlights</span>
        </button>

        <button 
            mat-button class="menu_button"
            routerLink="settings">

            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>

    </mat-sidenav>

    <mat-sidenav-content class="content">
            <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>