body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form {
    width: 100%;
    max-width: 500px;
}

.form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 100px;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-title {
    color: #333333;
    font-weight: bold;
}

.form-body {
    margin-bottom: 20px;
}

.justifier {
    width: 100%;
}

.form-input {
    width: 100%;
}

.form-footer {
    text-align: center;
}

.custom-btn-second {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-btn-second:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.custom-btn-second:disabled {
    background-color: #cccccc;
    color: #ffffff;
    cursor: not-allowed;
}

.reset-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}