<body>
    <div class="form">
    <form [formGroup]="forgotPasswordGroup" (ngSubmit)="forgotPassword()">
        <div class="form-wraper">
            <div class="form-container card" >

                <div class="form-header">
                    <h1 class="form-title">Forgotten Password </h1>
                </div>

                <div class="main-container" style="width: 100%">
                    <div class="reset-div1">
                        <div class="form-body">

                            <div style="margin-top: 50px;">
                                <mat-form-field class="justifier" id="leftInput"
                                    style="width: 100%">
                                    <input matInput placeholder="E-Mail" text="email" class="form-input"
                                        formControlName="email" required>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="form-footer">
                    <button mat-raised-button class="btn custom-btn-second" [disabled]="!forgotPasswordGroup.valid">Update Password</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>