<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<section>
    <section class="team-page-section">
        <div class="container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title">Our Team</div>
                <div class="separator"><span></span></div>
                <h2>Who we are?</h2>
            </div>

            <div class="row clearfix">

                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-skype"></i></a></li>

                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="https://github.com/MartinekStano" target="_blank"><img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="https://github.com/MartinekStano" target="_blank">Martin Staňo</a></h3>
                            <div class="designation">Back-End </div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-skype"></i></a></li>

                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="https://github.com/JaroslavOndrus" target="_blank"><img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="https://github.com/JaroslavOndrus" target="_blank">Jaroslav Ondruš</a></h3>
                            <div class="designation">Front-End</div>
                        </div>
                    </div>
                </div>
                <!-- Team Block -->
                <div class="team-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-skype"></i></a></li>

                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <div class="image">
                            <a href="https://github.com/TimotejkoPantak" target="_blank"><img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="https://github.com/TimotejkoPantak" target="_blank">Timotej Panták </a></h3>
                            <div class="designation">Front-End </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>