

<div class="main">
    <div class="wrapper">
        <img id="workspaceimg" src="assets\wicon.png" alt="user" class="user-image"/>
        <h3 class="wkheading"> {{workspacename}} </h3>
        <button class="btnedit" id="editbtn">Invite Workspace Members</button>
        <button class="btnedit_mobile" id="editbtn">+</button>
        <h4 class="accessheading">Private</h4>
        <hr class="hrline">
    </div>



    <div class="mainbody">
        <h3 class="workspacemembers">Workspace members ({{workspaceMembers}})</h3>
        <p>Workspace members can view and join all Workspace visible boards and create new boards in the Workspace.</p>
    </div>

    <div class="mainbody">
        <h3 class="inviteHeading">Invite members to join you</h3>
        <button class="invButton">Invite with link</button>
        <button class="disableButton">Disable Link</button>
        <hr class="hrline">
    </div>


    <div>
    <input class="filter" placeholder="Filter By Name"/>
    </div>


    <div class="members">
        
        <div class="users">
            <img class="user" src="assets/user.png"/>
            <h3 class="username"> Jojko Tehla </h3>
            <button class="remove">Remove</button>
        </div>

        <div class="users">
            <img class="user" src="assets/user.png"/>
            <h3 class="username"> Jojko Tehla </h3>
            <button class="remove">Remove</button>
        </div>

        <div class="users">
            <img class="user" src="assets/user.png"/>
            <h3 class="username"> Jojko Tehla </h3>
            <button class="remove">Remove</button>
        </div>

        <div class="users">
            <img class="user" src="assets/user.png"/>
            <h3 class="username"> Jojko Tehla </h3>
            <button class="remove">Remove</button>
        </div>

    </div>


</div>